@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Create Plan";

    Validation.RequireField("OHymn", "You must enter an Opening Hymn");
    Validation.RequireField("CHymn", "It is nice to include a closing hymn");
    Validation.RequireField("SHymn", "You will need to choose a hymn to prepare for the Sacrament");
    Validation.RequireField("Conducting", "Someone will need to conduct the meeting");
    Validation.RequireField("Date", "Date is required");
    Validation.RequireField("CPrayer", "You must select someone for the closing prayer");
    Validation.RequireField("OPrayer", "Don't forget to invite someone to say the opening prayer!");

    var OHymn = "";
    var CHymn = "";
    var SHymn = "";
    var IHymn = "";
    var Conducting = "";
    DateTime Date = DateTime.Now;
    var OPrayer = "";
    var CPrayer = "";


    if (IsPost)
    {
        if (Validation.IsValid())
        {
            OHymn = Request.Form["OHymn"];
            CHymn = Request.Form["CHymn"];
            SHymn = Request.Form["SHymn"];
            //I might need to do a try catch here if they don't put anything
            IHymn = Request.Form["IHymn"];
            Conducting = Request.Form["Conducting"];
            OPrayer = Request.Form["OPrayer"];
            CPrayer = Request.Form["CPrayer"];

            var db = Database.Open("Meetings");
            var insertCommand = "INSERT INTO Meeting (OHymn, CHymn, SHymn, IHymn, Conducting, Date, OPrayer, CPrayer) VALUES(@0, @1, @2, @3, @4, @5, @6, @7)";
            db.Execute(insertCommand, OHymn, CHymn, SHymn, IHymn, Conducting, Date, OPrayer, CPrayer);

            //Get the ID of the row I just inserted
            int primaryKey;
            var selectCommand = "SELECT ID FROM Meeting WHERE Conducting = @0 AND Date = @1";
            var row = db.QuerySingle(selectCommand, Conducting, Date);

            primaryKey = @row.ID;

            Response.Redirect("~/Speakers?id=" + primaryKey);
        }
    }
}

<h2>Create a Sacrament Meeting Plan</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Meeting Plan Details</legend>

        <p>
            <label for="Date">Meeting Date:</label>
            <input type="date" name="Date" value="@Request.Form["Date"]" />
            @Html.ValidationMessage("Date")

        <p>
            <label for="Conducting">Conducting:</label>
            <input type="text" name="Conducting" value="@Request.Form["Conducting"]" />
            @Html.ValidationMessage("Conducting")

        <p>
            <label for="OHymn">Opening Hymn:</label>
            <input type="text" name="OHymn" value="@Request.Form["OHymn"]" />
            @Html.ValidationMessage("OHymn")

        <p>
            <label for="OPrayer">Opening Prayer:</label>
            <input type="text" name="OPrayer" value="@Request.Form["OPrayer"]" />
            @Html.ValidationMessage("OPrayer")


        <p>
            <label for="SHymn">Sacrament Hymn:</label>
            <input type="text" name="SHymn" value="@Request.Form["SHymn"]" />
            @Html.ValidationMessage("SHymn")

        <p>
            <label for="IHymn">Intermediate Hymn:</label>
            <input type="text" name="IHymn" value="@Request.Form["IHymn"]" />

        <p>
            <label for="CHymn">Closing Hymn:</label>
            <input type="text" name="CHymn" value="@Request.Form["CHymn"]" />
            @Html.ValidationMessage("CHymn")

        <p>
            <label for="CPrayer">Closing Prayer:</label>
            <input type="text" name="CPrayer" value="@Request.Form["CPrayer"]" />
            @Html.ValidationMessage("CPrayer")

        <p><input type="submit" name="buttonSubmit" value="Add Speakers" /></p>
    </fieldset>
</form>