@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Plan";

    var title = "";
    var genre = "";
    var year = "";
    var meetingId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].AsInt() > 0)
        {
            meetingId = Request.QueryString["ID"];
            var db = Database.Open("Meetings");
            var dbCommand = "SELECT * FROM Meeting WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, meetingId);
            if (row != null)
            {
                title = row.Title;
                genre = row.Genre;
                year = row.Year;
            }
            else
            {
                Validation.AddFormError("No meeting was found for that ID.");
                // If you are using a version of ASP.NET Web Pages 2 that's
                // earlier than the RC release, comment out the preceding
                // statement and uncomment the following one.
                //ModelState.AddFormError("No movie was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No meeting was found for that ID.");
            // If you are using a version of ASP.NET Web Pages 2 that's
            // earlier than the RC release, comment out the preceding
            // statement and uncomment the following one.
            //ModelState.AddFormError("No movie was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        meetingId = Request.Form["meetingId"];
        var db = Database.Open("Meetings");
        var deleteCommand = "DELETE FROM Meeting WHERE ID = @0";
        db.Execute(deleteCommand, meetingId);
        Response.Redirect("~/Plans");
    }

}

<h2>Delete Plan</h2>
@Html.ValidationSummary()
<p><a href="~/Plans">Return to list of plans</a></p>

<form method="post">
    <fieldset>
        <legend>Sacrament Meeting Details</legend>

        <p>
            <span>Title:</span>
            <span>@title</span>
        </p>

        <p>
            <span>Genre:</span>
            <span>@genre</span>
        </p>

        <p>
            <span>Year:</span>
            <span>@year</span>
        </p>

        <input type="hidden" name="meetingId" value="@meetingId" />
        <p><input type="submit" name="buttonDelete" value="Delete Meeting Plan" /></p>
    </fieldset>
</form>