@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Plan";

    var OHymn = "";
    var OPrayer = "";
    var SHymn = "";
    var IHymn = "";
    var CHymn = "";
    var CPrayer = "";
    var Conducting = "";
    var Date = DateTime.Now;
    var meetingId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].AsInt() > 0)
        {
            meetingId = Request.QueryString["ID"];
            var db = Database.Open("Meetings");
            var dbCommand = "SELECT * FROM Meeting WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, meetingId);
            if (row != null)
            {
                OHymn = row.OHymn;
                OPrayer = row.OPrayer;
                SHymn = row.SHymn;
                IHymn = row.IHymn;
                CHymn = row.CHymn;
                CPrayer = row.CPrayer;
                Conducting = row.Conducting;
            }
            else
            {
                Validation.AddFormError("No meeting was found for that ID.");
                // If you are using a version of ASP.NET Web Pages 2 that's
                // earlier than the RC release, comment out the preceding
                // statement and uncomment the following one.
                //ModelState.AddFormError("No movie was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No meeting was found for that ID.");
            // If you are using a version of ASP.NET Web Pages 2 that's
            // earlier than the RC release, comment out the preceding
            // statement and uncomment the following one.
            //ModelState.AddFormError("No movie was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        meetingId = Request.Form["meetingId"];
        var db = Database.Open("Meetings");
        var deleteCommand = "DELETE FROM Meeting WHERE ID = @0";
        db.Execute(deleteCommand, meetingId);
        Response.Redirect("~/Plans");
        //Add delete statement for the speakers table via foriegn key of meetingid
    }

}

<h2>Delete Plan</h2>
@Html.ValidationSummary()
<p><a href="~/Plans">Return to list of plans</a></p>

<form method="post">
    <fieldset>
        <legend>Sacrament Meeting Details</legend>

        <p>
            <span>Date:</span>
            <span>@Date.ToString("MM/dd/yyyy")</span>
        </p>

        <p>
            <span>Opening Hymn:</span>
            <span>@OHymn</span>
        </p>

        <p>
            <span>Opening Prayer:</span>
            <span>@OPrayer</span>
        </p>

        <p>
            <span>Conducting:</span>
            <span>@Conducting</span>
        </p>

        <p>
            <span>Sacrament Hymn:</span>
            <span>@SHymn</span>
        </p>

        <p>
            <span>Intermediate Hymn:</span>
            <span>@IHymn</span>
        </p>

        <p>
            <span>Closing Hymn:</span>
            <span>@CHymn</span>
        </p>

        <p>
            <span>Closing Prayer:</span>
            <span>@CPrayer</span>
        </p>

        <input type="hidden" name="meetingId" value="@meetingId" />
        <p><input type="submit" class="deletePageButton" name="buttonDelete" value="Delete Meeting Plan" /></p>
    </fieldset>
</form>