@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Plan";

    var title = "";
    var genre = "";
    var year = "";
    var meetingId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            meetingId = Request.QueryString["ID"];
            var db = Database.Open("Meetings");
            var dbCommand = "SELECT * FROM Meeting WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, meetingId);

            if (row != null)
            {
                title = row.Title;
                genre = row.Genre;
                year = row.Year;
            }
            else
            {
                Validation.AddFormError("No plan was selected.");
                // If you are using a version of ASP.NET Web Pages 2 that's
                // earlier than the RC release, comment out the preceding
                // statement and uncomment the following one.
                //ModelState.AddFormError("No movie was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No plan was selected.");
            // If you are using a version of ASP.NET Web Pages 2 that's
            // earlier than the RC release, comment out the preceding
            // statement and uncomment the following one.
            //ModelState.AddFormError("No movie was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("title", "You must enter a title");
        Validation.RequireField("genre", "Genre is required");
        Validation.RequireField("year", "You haven't entered a year");
        Validation.RequireField("movieid", "No movie ID was submitted!");

        title = Request.Form["title"];
        genre = Request.Form["genre"];
        year = Request.Form["year"];
        meetingId = Request.Form["movieId"];

        if (Validation.IsValid())
        {
            var db = Database.Open("Meetings");
            var updateCommand = "UPDATE Meeting SET Title=@0, Genre=@1, Year=@2 WHERE Id=@3";
            db.Execute(updateCommand, title, genre, year, meetingId);
            Response.Redirect("~/Plans");
        }
    }
}

<h2>Edit Plan</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Sacrament Meeting Details</legend>

        <p>
            <label for="title">Title:</label>
            <input type="text" name="title" value="@title" />
        </p>

        <p>
            <label for="genre">Genre:</label>
            <input type="text" name="genre" value="@genre" />
        </p>

        <p>
            <label for="year">Year:</label>
            <input type="text" name="year" value="@year" />
        </p>

        <input type="hidden" name="meetingId" value="@meetingId" />

        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
</form>
<p><a href="~/Plans">Return to Plans</a></p>
