@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Plan";

    var OHymn = "";
    var OPrayer = "";
    var SHymn = "";
    var IHymn = "";
    var CHymn = "";
    var CPrayer = "";
    var Conducting = "";
    var Date = DateTime.Now;
    var meetingId = "";
    var dateString = "04/04/1999";
    WebGrid grid = new WebGrid();

    //Make a collection of speakers
    //var speakerArray ?
    //collection of speakers?

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            meetingId = Request.QueryString["ID"];
            var db = Database.Open("Meetings");
            var dbCommand = "SELECT * FROM Meeting WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, meetingId);

            var selectCommand = "SELECT * FROM Speaker WHERE MeetingId = " + meetingId;
            var searchTerm = "";

            var selectedData = db.Query(selectCommand, searchTerm);
            grid = new WebGrid(source: selectedData, defaultSort: "MeetingId");

            if (row != null)
            {
                OHymn = row.OHymn;
                OPrayer = row.OPrayer;
                SHymn = row.SHymn;
                IHymn = row.IHymn;
                CHymn = row.CHymn;
                CPrayer = row.CPrayer;
                Conducting = row.Conducting;
            }
            else
            {
                Validation.AddFormError("No plan was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No plan was selected.");
        }
    }

    if (IsPost)
    {
      
    }
}

<h2>View Plan</h2>
<p><a href="~/Plans">Return to Plans</a></p>
@Html.ValidationSummary()
<fieldset class="detailPage">
    <legend>Sacrament Meeting Details</legend>
    <div>
        <p>
            <span>Date:</span>
            <span class="details">@Date.ToString("MM/dd/yyyy")</span>
        </p>

        <p>
            <span>Conducting:</span>
            <span class="details">@Conducting</span>
        </p>

        <p>
            <span>Opening Hymn:</span>
            <span class="details">@OHymn</span>
        </p>

        <p>
            <span>Opening Prayer:</span>
            <span class="details">@OPrayer</span>
        </p>

        <p>
            <span>Sacrament Hymn:</span>
            <span class="details">@SHymn</span>
        </p>

        @{/*
            foreach (var row in grid.Row)
            {
            <p>
                <span>Speaker:</span>
                <span class="details">@row.Speaker</span>
            </p>
            <p>
                <span>Topic:</span>
                <span class="details">@row.Topic</span>
            </p>

            }*/
        }

        @if (IHymn != "") {
        <p>
            <span>Intermediate Hymn:</span>
            <span class="details">@IHymn</span>
        </p>
        }

        <p>
            <span>Closing Hymn:</span>
            <span class="details">@CHymn</span>
        </p>

        <p>
            <span>Closing Prayer:</span>
            <span class="details">@CPrayer</span>
        </p>

        <input type="hidden" name="meetingId" value="@meetingId" />
    </div>

    <h3>Speakers</h3>
    <div>
        @grid.GetHtml(
                        tableStyle: "grid",
                        headerStyle: "head",
                        alternatingRowStyle: "alt",
                        columns: grid.Columns(
                                        grid.Column("Name"),
                                        grid.Column("Topic"))
                      )
    </div>
</fieldset>


