@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Plan";

    var OHymn = "";
    var OPrayer = "";
    var SHymn = "";
    var IHymn = "";
    var CHymn = "";
    var CPrayer = "";
    var Conducting = "";
    var Date = DateTime.Now;
    var meetingId = "";
    var dateString = "04/04/1999";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            meetingId = Request.QueryString["ID"];
            var db = Database.Open("Meetings");
            var dbCommand = "SELECT * FROM Meeting WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, meetingId);

            if (row != null)
            {
                OHymn = row.OHymn;
                OPrayer = row.OPrayer;
                SHymn = row.SHymn;
                IHymn = row.IHymn;
                CHymn = row.CHymn;
                CPrayer = row.CPrayer;
                Conducting = row.Conducting;
            }
            else
            {
                Validation.AddFormError("No plan was selected.");
                // If you are using a version of ASP.NET Web Pages 2 that's
                // earlier than the RC release, comment out the preceding
                // statement and uncomment the following one.
                //ModelState.AddFormError("No movie was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No plan was selected.");
            // If you are using a version of ASP.NET Web Pages 2 that's
            // earlier than the RC release, comment out the preceding
            // statement and uncomment the following one.
            //ModelState.AddFormError("No movie was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("OHymn", "Opening Hymn is a required field");
        Validation.RequireField("OPrayer", "Don't forget to invite someone to say the opening prayer!");
        Validation.RequireField("Conducting", "Someone will need to conduct the meeting");
        Validation.RequireField("SHymn", "You will need to choose a hymn to prepare for the Sacrament");
        Validation.RequireField("CHymn", "It is nice to include a closing hymn");
        Validation.RequireField("CPrayer", "You must select someone for the closing prayer");

        Validation.RequireField("meetingId", "No meeting ID was submitted!");

        dateString = Request.Form["Date"];

        Date = DateTime.Parse(dateString);
        OHymn = Request.Form["OHymn"];
        OPrayer = Request.Form["OPrayer"];
        Conducting = Request.Form["Conducting"];
        SHymn = Request.Form["SHymn"];
        IHymn = Request.Form["IHymn"];
        CHymn = Request.Form["CHymn"];
        CPrayer = Request.Form["CPrayer"];

        meetingId = Request.Form["meetingId"];

        if (Validation.IsValid())
        {
            var db = Database.Open("Meetings");
            var updateCommand = "UPDATE Meeting SET OHymn=@0, CHymn=@1, SHymn=@2, IHymn=@3, Conducting=@4, Date=@5, OPrayer=@6, CPrayer=@7, WHERE Id=@8";
            db.Execute(updateCommand, OHymn, CHymn, SHymn, IHymn, Conducting, Date, OPrayer, CPrayer, meetingId);
            Response.Redirect("~/Plans");
        }
    }
}

<h2>View Plan</h2>
<p><a href="~/Plans">Return to Plans</a></p>
@Html.ValidationSummary()
<fieldset class="detailPage">
    <legend>Sacrament Meeting Details</legend>

    <p>
        <span>Date:</span>
        <span class="details">@Date.ToString("MM/dd/yyyy")</span>
    </p>

    <p>
        <span>Conducting:</span>
        <span class="details">@Conducting</span>
    </p>

    <p>
        <span>Opening Hymn:</span>
        <span class="details">@OHymn</span>
    </p>

    <p>
        <span>Opening Prayer:</span>
        <span class="details">@OPrayer</span>
    </p>

    <p>
        <span>Sacrament Hymn:</span>
        <span class="details">@SHymn</span>
    </p>

    <p>
        <span>Intermediate Hymn:</span>
        <span class="details">@IHymn</span>
    </p>

    <p>
        <span>Closing Hymn:</span>
        <span class="details">@CHymn</span>
    </p>

    <p>
        <span>Closing Prayer:</span>
        <span class="details">@CPrayer</span>
    </p>

    <input type="hidden" name="meetingId" value="@meetingId" />

</fieldset>


